{:deps true
 :builds
 {:frontend
  {:target :browser
   :output-dir "built-resources/public/js"
   :asset-path "js"
   :modules {:frontend {:entries [my-project.frontend]
                        :init-fn my-project.frontend/init}}}}}
