{:paths ["src/clj" "resources"]
 :deps {;; backend deps
        org.clojure/clojure {:mvn/version "1.10.3"}
        metosin/reitit {:mvn/version "0.5.16"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}}
 :aliases {:shadow-cljs
           {;; The cljs path needs to be added here so that -T:shadow-cljs:build sees the frontend source
            :paths ["src/cljs"]
            :replace-deps {;; frontend deps
                           thheller/shadow-cljs {:mvn/version "2.17.8"}
                           org.clojure/clojurescript {:mvn/version "1.11.4"}
                           reagent/reagent {:mvn/version "1.1.0"}
                           lambdaisland/fetch {:mvn/version "1.0.41"}}
            :main-opts ["-m" "shadow.cljs.devtools.cli"]}
           ;; Usage: clj -T:shadow-cljs:build uberjar
           :build
           {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
            :ns-default build}}}
